@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: #ffffffef; 
}
/* 글 작성시 변수 활용하여 글자 색 지정 */
:root {
  --font-blue: #5090B5;
  --font-red: #D6514C;
  --font-green: #258c46;
  --font-yellow: #d9a243;
  --font-violet: #7953A1;
}

.blue-bold {
  color: var(--font-blue);
  font-weight: bold
}

.red-bold {
  color: var(--font-red);
  font-weight: bold
}

.green-bold {
  color: var(--font-green);
  font-weight: bold
}

.yellow-bold {
  color: var(--font-yellow);
  font-weight: bold;
}

.violet-bold {
  color: var(--font-violet);
  font-weight: bold
}

.highlight {
  background-color: #FBF3DB;
}

.emphasis {
  font-style: italic;
  text-decoration: underline;
}

/* 스크롤바 숨기기 => 필요하면 사용 */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* markdown CSS */
/* 코드 블럭 타이틀 */
.rehype-code-title {
  margin-bottom: -0.6rem !important;
  padding: 0.4em 1em 0.8em 1em;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;

  background-color: #3b4045;
  color: white;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

/* 코드 블럭 */
.github-dark {
  margin-top: 0px;
}

/* ToC */
.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 70px;
}

/* p 태그 관련 */
.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 2rem;
}

.prose h1:not(.not-prose, .not-prose *) {
  font-size: 1.8rem; /* Default font size for larger screens */
}

@media (max-width: 768px) {
  .prose h1:not(.not-prose, .not-prose *) {
      font-size: 1rem; /* Font size for smaller screens */
  }
}

/* anchor */
.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}

.h1-small {
  font-size: 2rem; 
}